* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #323445;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

nav {
    padding: 0 10% 0 12%;
}

.icon {
    margin-right: auto;
    width: 60%;
    transform: translateX(-20px);
}
.icon div{
    background-color: #FEC158;
    width: 50px;
    height: 50px;
    border-radius: 0 50% 50% 50%;
    position: relative;
}

.icon div div {
    border-radius: 50%;
    background-color: #323445;
    width: 35px;
    height: 17.5px;
    border-radius:0 0 17.5px 17.5px;
    background-color: #323445;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -80%);
}

.nav-link{
    color: #fff;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    outline: none;
    border: none;
}

.navbar-toggler-icon {
    color: #fff;
    width: 100%;
    align-items: center;
    outline: none;
}

button {
    color: transparent;
}

.nav-link:hover {
    color: #FEC158;
}
.navbar-nav {
    width: fit-content;
    margin-left: auto;
}

@media (min-width: 992px){
    .navbar-nav .nav-item .nav-link {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

/*    
            introductions
*/

#introductions {
    padding: 5% 12% 10% 10%;
    color: #fff;
}

#name {
    color: white;
    font-size: 60px;
    line-height: 80px;
}

#guhit {
    width: 40px;
    height: 8px;
    margin: 10px 0 10px 0;
    border-radius: 2px;
    background-color: #FEC158;
}

.socials {
    margin-top: 10%;
    font-size: 22px;
}

.socials a {
    margin-right: 15px;
    color: #fff;
}

.socials a:hover {
    color: #FEC158;
}


.intro-words {
    margin-top: 10%;
    color: #fff;
    max-width: 350px;
    align-self: flex-end;
}

.intro-words h3 {
    color: #6E707C;
    font-size: 1.1rem;
    letter-spacing: 2px;
}

.intro-words #profession {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.intro-words #drama {
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.intro-words #intro {
    margin-top: 30px;
    font-size: 15px;
}

/*  ==================================================
                        Skills
    ==================================================
*/

#skills{
    background: #232533;
    min-height: 50vh;
    padding: 10%;
    color: #fff;
    position: relative;
}


#skills h3 {
    color: #6E707C;
    font-size: 18px;
    letter-spacing: 2px;
}

.skills-words #p1 {
    margin-top: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
}

.skills-words #p2 {
    font-size: 23px;
    letter-spacing: 1px;
    float: right;
}

#skills #p3 {
    color: #a5a5a5;
    margin-top: 50px;
}

#skills #p4 {
    color: #e0b475;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 70px;
}

#spending-time {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#spending-time div div {
    display: flex;
    align-items: center;
    width: 140px;
}

#spending-time div h3 {
    color: #F2A52C;
    font-size: 4em;
    font-weight: bold;
}

#spending-time div p {
    font-size: 13px;
    line-height: 12px;
    align-self: flex-end;
    transform: translateY(-10px);
}

#spending-time div h3 {
    color: #F2A52C;
    font-size: 70px;
    margin-right: 5px;
}

#skills #p4 {
    color: #e0b475;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 70px;
}

#skills ul {
    margin: auto;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 0;
    margin-top: 5%;
    width: 100%;
}

#skills ul div {
    padding: 5px;
}

#skills ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #3F4354;
    width: 120px;
    height: 100px;
    transition: .5s;
    font-size: 1.8em;

}
#skills ul li:hover{
    background: #F2A52C;
    transform: translateY(-10px);
}

#skills ul li p {
    font-size: 1rem;
    margin: 0;
}

/*  ==================================================
                        Projects
    ==================================================
*/
#projects {
    padding: 180px 10% 30px 10%;
    position: relative;
    min-height: 210vh;
}

#projects-words {
    margin: 0;
}

#projects h3{
    color: #6E707C;
    font-size: 18px;
    letter-spacing: 2px;
}

#projects #p1 {
    margin-top: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
}

#projects #p2 {
    margin-top: 40px;
    color: #a5a5a5;
}

.explore-more {
    margin-top: 70px;
    color: #e0b475;
    font-size: 14px;
}
.explore-more a {
    text-decoration: underline;
    color: #e0b475;
    margin-right: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}

img {
    margin: 0;
}

#proj2 {
    position: absolute;
    top: 40%;
    margin-left: 5%;
}

#proj3 {
    position: absolute;
    bottom: 5%;
}

@media only screen and (max-width: 768px) {
    #skills ul {
        position: static;
        transform: translateX(0);
    }

    img {
        width: 80%;
        display: block;
        margin: auto;
        margin-bottom: 10%;
    }

    #proj2 {
        position: static;
        margin: auto;
        margin-bottom: 10%;
    }

    #proj3 {
        position: static;
    }

}

@media only screen and (max-width: 1024px) {
    #projects {
        min-height: 100vh;
    }

}


/*  ==================================================
                        Contact
    ==================================================
*/

#contact {
    padding: 90px 10% 30px 10%;
    height: fit-content;
    background: #232533;
}

#contact div h3 {
    color: #6E707C;
    font-size: 18px;
    letter-spacing: 2px;
}

#contact .texts p {
    margin-top: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
}

#contact ul {
    padding-left: 10px;
}

#contact ul li{
    list-style: none;
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
    width: max-content;
}

#contact ul li i {
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

#contact ul li h3 {
    color: #F2A52C;
}

#contact ul li p {
    color: #fff;
}


#contact #div2 {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact #div2 p {
    color: #fff;
    margin-top: 30px;
}

#contact #div2 p span {
    color: #a5a5a5;
}

#contact #div2 .socials2{
    margin-top: 50px;
}

#contact #div2 .socials2 a{
    margin: 0 10px 0 15px;
    font-size: 20px;
}

#contact .icon {
    margin: 0;
}

#contact .icon div{
    background-color: #FEC158;
    width: 40px;
    height: 40px;
    border-radius: 0 50% 50% 50%;
    position: relative;
    transform: translateX(50%);
    margin: auto;
}

#contact .icon div div {
    border-radius: 50%;
    background-color: #323445;
    width: 25px;
    height: 12.5px;
    border-radius:0 0 12.5px 12.5px;
    background-color: #323445;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -80%);
}
